.logo-circulo {
    width:  65px; /* Ajusta el tamaño según sea necesario */
    height: 65px; /* Ajusta el tamaño según sea necesario */
    border-radius: 50%;
    object-fit: cover;
}

#Cover {
    max-height: 850px;
}

/* Ajustar las flechas de navegación del carrusel */
.carousel-control-prev,
.carousel-control-next {
    width: auto;
    height: auto;
    top: 50%;
    margin-top: -20px; /* Ajusta este valor según la altura de tus controles */
    position: absolute;
    z-index: 1;
}

/* Asegurar que todas las imágenes del carrusel tengan el mismo tamaño */
.carousel-item img {
    width: 100%;
    height: auto;
}
/* Asegurar que todas las tarjetas tengan el mismo tamaño y sean más grandes */
.card {
    width: 18rem; /* Ajusta el ancho según sea necesario */
    height: 100%; /* Asegura que todas las tarjetas tengan la misma altura */
}

/* Asegurar que todas las imágenes de las tarjetas tengan el mismo tamaño y se recorten desde abajo */
.card-img-top {
    width: 100%;
    height: 250px; /* Ajusta la altura según sea necesario */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
    object-position: top; /* Recorta la imagen desde la parte inferior */
}